div {
    border: 12px groove white;
}img {
    width: 200px;   
}
body{
    background:url("https://thumbs.dreamstime.com/b/blue-particles-shining-stars-dust-bokeh-glitter-awards-dust-abstract-background-futuristic-glittering-space-black-background-182799942.jpg");}